/* General */
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    /* background-color: white !important; */
    padding: 10px;
}

.nav-link-index {
    color: white !important;
}

/* Landing page */
.landing-body {
    background: url('images/butterflies.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

  #landing-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); /*white text*/
    font-weight: bold
}

/* About page */
/* .about-body {
    background: url('images/lbdavis.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} */
.about-name {
    font-weight: bolder;
}

.about-details {
    margin: 20px;
}

.about-text-body {
    text-align: justify;
    text-justify: inter-word;
}

.about-img {
}

.about-body {
}

.about-details-card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 20px;
    margin: 20px;
}

.about-col {
    margin: 0px;
    padding: 0px;
}

.about-desc {
    margin: 20px;
    margin-top: 0px !important;
    text-align: justify;
}

/* TODO: for small medium device and below set the margin and boarder to 0 to fill the screen */
@media (max-widht: 992px) {
    .about-col {
        margin: 0px;
        padding: 0px;
    }
    .about-card {
        margin-top: 0rem!important;
        margin-bottom: 0rem!important;
    }
}

/* Large devices and above */
@media (min-width: 992px){

    .about-header-img {
        /* background: url(images/laurenTest.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
        /* width: 50%;
        position: absolute;
        left: 0px;
        height: 100%; */
    }
    .about-card {
        margin-top: 3rem!important;
        margin-bottom: 3rem!important;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .about-body {
        /* background: url('images/aboutHeadshot.jpeg') no-repeat center center fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

/* Services page */
.services-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); /*white text*/
    font-weight: bold
}

/* .services-grid {
    gap: 30px;
} */

/* Blog page */

/* Contact page */