/* General */
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.footer {
    padding: 20px;
    border-top: 1px solid grey;
}

.footer-text {
    color: grey !important;
    text-decoration: none;
    font-style: none;
}

.fa {
    margin-right: 10px !important;
}

.navbar {
    /* background-color: white !important; */
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.513);
    /* font-family: "Josefin Sans"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 50px; */
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'EB Garamond', serif; */
    font-size: 22px; 
}

.navbar-index {
    border-bottom: 0px solid rgba(255, 255, 255, 0.513) !important;
}

.nav-link-index {
    color: rgba(255, 255, 255, 0.571) !important;
}

.nav-link-index:hover {
    color: rgba(255, 255, 255, 1.0) !important;
}

.nav-item {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    color: rgb(0, 0, 1.0);
}

.nav-link {
    font-weight: 200;
}

.nav-link.active {
    font-weight: 700;
    /* font-size: 25px; */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255, 0);
}

.navbar-toggler {
    border-color: rgb(255, 255, 255, 0) !important;
}

/* Landing page */

/* Small devices and below */
@media (max-width: 992px) {
    #landing-title {
        font-size: 13vw;
        font-style: normal !important;
    }

    #landing-description { 
        padding-top: 30px;
        font-size: 6vw;
        font-style: italic !important; 
    }
}

/* Large devices and above */
@media (min-width: 992px){
    #landing-title {
        font-size: 5.0vw;
    }

    #landing-description { 
        padding-top: 30px;
        font-size: 2.5vw;
    }
}

.landing-body {
    background: url('images/butterflies.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#landing-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.824); /*white text*/
    /* font-weight: bold; */
    font-style: italic;
}

#landing-description {
    font-family: 'Libre Baskerville', serif !important;
    font-style: normal;
}

/* About page */
/* .about-body {
    background: url('images/lbdavis.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} */
.about-desc {
}

.about-name {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 3rem;
    /* font-style: italic; */
    margin-bottom: 0rem !important;
    text-align:left;
}

.about-details {
    margin: 20px;
}

.about-text-body {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
}

.about-img2 {
    width: 50%;
    height: auto;
}

.about-body {
}

.about-details-card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 20px;
    margin: 20px;
}

.detail-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.about-col {
    margin: 0px;
    padding: 0px;
}

.about-desc {
    margin: 20px;
    margin-top: 0px !important;
    text-align: justify;
    padding: 3rem !important;
}

/* TODO: for small medium device and below set the margin and boarder to 0 to fill the screen */
@media (max-width: 992px) {
    .about-col {
        margin: 0px;
        padding: 0px;
    }
    .about-card {
        margin-top: 0rem!important;
        margin-bottom: 0rem!important;
    }
}

/* Large devices and above */
@media (min-width: 992px){

    .about-header-img {
        /* background: url(images/laurenTest.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
        /* width: 50%;
        position: absolute;
        left: 0px;
        height: 100%; */
    }
    .about-desc {
        padding-left: 5rem!important;
        padding-right: 5rem!important;
        padding-top: 3rem!important;
    }
    .about-card {
        margin-top: 3rem!important;
        margin-bottom: 3rem!important;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .about-body {
        /* background: url('images/aboutHeadshot.jpeg') no-repeat center center fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

/* Services page */
.service-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.services-grid {
    margin-top: 100px;
}

.services-card {
    margin: 50px;
}

/* Blog page */

.blog-card-img {
    object-fit: cover; 
    height: 100%; 
    width: 100%;
}

.blog-card {
    border: 0px !important;
    padding: 20px;
}

.blog-card:hover .card-title {
    font-size: 1.5rem;
}

.blog-card:hover .blog-card-img {
    opacity: 60%;
}

/* Contact page */

.contact-body {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 80px;
    /* font-family: 'Montserrat', sans-serif; */
}

.contact-img {
    max-width: 100%;
    max-height: 100%;
    width: 20vh;
    height: auto;
    border-radius: 50%;
}

.email-title {
    font-weight: bolder;
    margin-bottom: 0px !important;
}

#email-link {
    color: black;
    font-style: normal;
    text-decoration: none;
}

#email-link:hover {
    color: lightblue;
}

.phone-title {
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 0px !important;
}

.contact-info {
    font-size: 1.15rem;
}

.contact-text {
    text-align: left;
    align-items: left;
}

.contact-image {
    align-items: center;
    text-align: center;
}

.email {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
}

.phone {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}

#contact-link {
    color: black;
    text-decoration: none;
}

#contact-link:hover{
    color:lightblue;
}

@media (min-width: 992px) {
    .contact-info {
        margin-left: 100px;
        margin-right: 100px;
    }
    .contact-page {
        margin-top: 100px;
    }
}

@media (max-width: 992px) {
    .contact-text {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1rem !important;
    }
    .contact-page {
        margin-top: 0px;
    }
}